# Dependencies
node_modules/
.pnpm-store/

# Env
.env
.env.local
.env.*.local

# Build output
dist/
build/
out/
cache/
coverage/
*.tsbuildinfo

# Foundry
packages/contracts/out/
packages/contracts/cache/
packages/contracts/broadcast/**/dry-run/
packages/contracts/lib/

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / OS
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Vercel
.vercel
